html{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content: center;
    height:auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 80%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    height:15vh;
    text-transform: uppercase;
}

button{
    margin: 2em 0em;
    padding:  0.8em 1em;
    border: none;
    background: #6fe0a9;
    color:white;
    font-size: 18px;
}
input{
    margin: 0.5em 0.8em ;
    font-size: 1em;
    color: black;
    font-weight: 600;
    padding: 0.5em;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 4px;
}

form{
    box-sizing: border-box;
    height: auto;
    font-weight: 600;
}


table{
/*    margin: 1em 0em;*/
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
tr{
    border-bottom: 1px solid rgba(0,0,0,0.5) ;
}
tr:nth-child(2n){
      background: rgba(215,215,215,0.5);
}
th{
    width: 20%;
    padding: 1em;
}
td{
    font-size:1.3em;
    width:20%;
    padding:  0.5em 0em;
    text-align: center;
}

.name{
    color: black;
    text-transform: capitalize;
}
.phone{
    color: gray;
}
.delBtn{
    background: rgba(225,0,0,0.5);
    color: black;
    margin: 0px;
}
.gender{
    text-align: center;
}
.age{
    text-align: center;
}
.topic{
    text-align: center;
}
.delete{
    text-align: center;
}

#backbtn{
    
    background: #9e9e9e;
}

label{
    color:  gray;
    font-size: 20px;
}
form span{
    color: gray;
    font-size: 18px;
}
form h2{
    color: rgb(63, 128, 158);
    margin:0;
    
}
::placeholder{
    font-weight: 500;
}
#backbtn{
    color: black;
}
#noContact{
    width: 100%;
    text-align: center;
    position: relative;
    top: 100px;
    font-weight: 700;
    font-size: 1.5em;
    color: gray;
}