html{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content: center;
    height:auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 80%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    height:15vh;
}

.Section{
    border: 2px solid black;
    height: 60vh;
    display: flex;
    justify-content: center;
}
form{
 display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}