html{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-content: center;
    height:auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    width: 80%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background: black;
    height:15vh;
    text-transform: uppercase;
}

.Section{
    border: 2px solid black;
    height: auto;
    display: flex;
    justify-content: center;
}
button{
    margin: 2em 0em;
    padding:  1em 1.8em;
    font-weight: bolder;
    border: none;
    background: lightgreen;
    color:white;
}
label{
    display: inline;
    margin: 2em 11.4em 0em 0em ;
    color:gray;
    font-weight: 600;
    font-size:1.3em; 
    text-transform: uppercase;
}
input{
    margin: 0em 2em 0em 0em ;
    font-size: 1.2em;
    padding: 0.5em;
}

form{
    box-sizing: border-box;
    height: auto;
}

table{
/*    margin: 1em 0em;*/
    width: 100%;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid rgba(0,0,0,0.5) ;
}
tr:nth-child(2n){
      background: rgba(215,215,215,0.5);
}
th{
    width: 20%;
}
td{
    font-size:1.3em;
    width:20%;
    padding:  0.5em 0em;
}

.name{
    color: black;
    text-transform: capitalize;
}
.phone{
    color: gray;
}
.delBtn{
    background: rgba(225,0,0,0.5);
    color: black;
    margin: 0px;
}
.gender{
    text-align: center;
}
.age{
    text-align: center;
}
.topic{
    text-align: center;
}
.delete{
    text-align: center;
}

